--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.1+cu124
transformers>=4.48.0
datasets>=2.21.0
fire>=0.7.0
loguru>=0.7.0
huggingface-hub>=0.28.0
requests>=2.32.0
numpy>=1.26.0
math-verify>=0.5.0
vllm==0.6.6
